<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
<body>
    <div class="col-8 offset-1">

    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
    <div class="mb-3">
    <label for="title" class="form-label">Edit title</label><br>
    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
        <div class="invalid-feedback">
                    please enter a title
                </div>
    </div>

    <div class="mb-3">
    <label for="description" class="form-label">Edit description</label><br>
    <textarea name="listing[description]" type="text" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">
                    please enter a short description
                </div>
    </div>

    <div class="mb-3">
    <label for="image" class="form-label">Edit image Link</label><br>
    <input
        type="text"
        class="form-control"
        required
        name="image"
        value="<%= listing.image && listing.image.url ? listing.image.url : '' %>"
    >
    <div class="invalid-feedback">
        Please enter a valid image URL
    </div>
</div>

    <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Edit price</label><br>
        <input name="listing[price]" value="<%= listing.price %>" type="number"  class="form-control" required>
            <div class="invalid-feedback">
                    please enter a valid price
                </div>
        </div>

        <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Edit country</label><br>
        <input name="listing[country]" value="<%= listing.country %>" type="text"  class="form-control" required>
            <div class="invalid-feedback">
                   country name should be valid
                </div>
        </div>
    </div>
    <div class="mb-3">
    <label for="location" class="form-label">Edit location</label><br>
    <input name="listing[location]" value="<%= listing.location %>" type="text"  class="form-control" required>
        <div class="invalid-feedback">
                    please enter a valid location
                </div>
    </div>

    <button class="btn btn-dark add-btn mt-3">Edit</button>
    </form>
    </div>
</body>
</div>
</html>
<script src="/js/script.js"></script>